In [ ]:
data = soup.find_all('span')  # 크롤링한 데이터
text_list = [item.text for item in data]  # 텍스트 추출
print(text_list)

In [3]:
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup

In [4]:
url = "https://esg.krx.co.kr/contents/02/02020000/ESG02020000.jsp"
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
soup = BeautifulSoup(response.text, "lxml")
cartoonsBox = soup.find('ol', attrs={"data-value": ""}) # 전체 영역에서 'a' 태그를 찾지 않고 인기 급상승 영역으로 범위 제한
cartoons = cartoonsBox.find_all('a') # 인기 급상승 영역에서 'a'태그 모두 찾아 변수 cartoons에 할당

In [19]:
data_list = soup.find_all('name')

In [20]:
data_list

[<span class="icon"></span>,
 <span class="logo" onclick="$.movePage('/');"></span>,
 <span class="title">
 <a href="/index.jsp"></a>
 </span>,
 <span>ESG 소개</span>,
 <span>ESG 기업정보</span>,
 <span>ESG 통계</span>,
 <span>ESG 뉴스</span>,
 <span>자료실</span>,
 <span class="icon"></span>,
 <span class="link"></span>,
 <span class="icon"></span>,
 <span class="pc_vw2">· KCGS</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-kcgs'); return false;">법적고지<i></i></span>,
 <span class="text">ESG 평가문의(esg@cgs.or.kr), <br class="mo_vw2"/>등급 활용(esgdata@cgs.or.kr)</span>,
 <span class="pc_vw2">· 한국 ESG 연구소</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-kesg'); return false;">법적고지<i></i></span>,
 <span class="text">kresg@kesgresearch.com</span>,
 <span class="pc_vw2">· Moody's</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-moodys'); return false;">법적고지<i></i></span>,
 <span class="text">clientservices@moodys.com</span>,
 <span class="pc_vw2">· MSCI</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-msci'); return false;">법적고지<i></i></span>,
 <span class="text">Seoul_esg@msci.com</span>,
 <span class="pc_vw2">· S&amp;P</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-sp'); return false;">법적고지<i></i></span>,
 <span class="text">Support.ciq@spglobal.com</span>,
 <span class="pc_vw2">· 지속가능발전소</span>,
 <span class="icon" onclick="$.layer_popup('#layer-noti-news'); return false;">법적고지<i></i></span>,
 <span class="text">info@whosgood.org</span>,
 <span class="btn-layerClose"></span>,
 <span class="btn-layerClose"></span>,
 <span class="btn-layerClose"></span>,
 <span class="btn-layerClose"></span>,
 <span class="btn-layerClose"></span>,
 <span class="btn-layerClose"></span>,
 <span></span>,
 <span class="loading"></span>,
 <span class="mo_vw2 year">{{yy}}</span>,
 <span class="icobox">
 <i alt="icon" class="use{{key1}}"></i>
 <i alt="icon" class="use{{key2}}"></i>
 <!-- 위 use~key1 key2 정상동작을 위해 필요 -->
 <span class="dpn">{{key1}}</span>
 <span class="dpn">{{key2}}</span>
 </span>,
 <span class="dpn">{{key1}}</span>,
 <span class="dpn">{{key2}}</span>,
 <span class="grd-font kcgs kcgsB" data-value="{{kcgs_esg}}">{{kcgs_esg}}</span>,
 <span class="grd-font kcgs" data-value="{{kcgs_env}}">{{kcgs_env}}</span>,
 <span class="grd-font kcgs" data-value="{{kcgs_soc}}">{{kcgs_soc}}</span>,
 <span class="grd-font kcgs" data-value="{{kcgs_gov}}">{{kcgs_gov}}</span>,
 <span class="grd-font kesg" data-value="{{kesg_esg}}">{{kesg_esg}}</span>,
 <span class="grd-font moodys" data-value="{{moodys_esg}}">{{moodys_esg}}</span>,
 <span class="grd-font msci" data-value="{{msci_esg}}">{{msci_esg}}</span>,
 <span class="grd-font sp" data-value="{{sp_esg}}">{{sp_esg}}</span>,
 <span class="rpt-icon rpt{{rpt_yn}}"></span>,
 <span class="icon"></span>,
 <span>한국거래소(KRX)</span>,
 <span>사회책임투자채권</span>,
 <span>상장공시시스템(KIND)</span>,
 <span class="logo"></span>,
 <span>본사 : 48400 부산광역시 남구 문현금융로 40(문현동)</span>,
 <span>TEL : 051-662-2000</span>,
 <span>사업자 등록번호 : 602-81-35420</span>,
 <span>금융서비스업 대표자 : 손병두</span>,
 <span>서울 : 07329 서울특별시 영등포구 여의나루로 76(여의도동)</span>,
 <span>TEL : 1577-0088 / 02-3774-9000</span>,
 <span>통신판매신고 부산남구 .0036호</span>]

In [18]:
_list = []
for i in data_list :
    x = i.get_text()
    x = x.replace("\n", '')
    x = x.strip('\t')
    _list.append(x)
_list

['{{com_abbrv}}{{yy}}{{key1}}{{key2}}',
 'KCGS{{kcgs_esg}}',
 '환경{{kcgs_env}}',
 '사회{{kcgs_soc}}',
 '지배구조{{kcgs_gov}}',
 '한국ESG 연구소{{kesg_esg}}',
 "Moody's{{moodys_esg}}",
 'MSCI{{msci_esg}}',
 'S&P{{sp_esg}}',
 '',
 '지속가능경영보고서 공시 여부',
 'KCGS',
 'S, A+, A, B+, B, C, D',
 '한국ESG연구소',
 'S, A+, A, B+, B, C, D',
 "Moody's",
 'Advanced(60점 이상), Robust(50~59점), Limited(30~49점), Weak(29점 이하)',
 'MSCI',
 'AAA, AA, A, BBB, BB, B, CCC',
 'S&P',
 '100~0']

> 다시!

In [ ]:
url = "https://esg.krx.co.kr/contents/02/02020000/ESG02020000.jsp"
res = requests.get(url)
res.raise_for_status()

soup = BeautifulSoup(res.text, "lxml")

In [ ]:
soup.find("")

In [35]:
df= pd.DataFrame()

In [4]:
pd.read_csv('./data/ESGdata/업종추가 데이터/.csv')

FileNotFoundError: [Errno 2] No such file or directory: './data/ESGdata/업종추가 데이터/.csv'

In [6]:
df = pd.read_csv('./코스피업종분류.csv', encoding='euc-kr')

In [7]:
df['업종명'].unique()

array(['서비스업', '기타금융', '유통업', '섬유의복', '운수창고업', '음식료품', '증권', '보험', '전기전자',
       '화학', '건설업', '철강금속', '기계', '운수장비', '광업', '의약품', '비금속광물', '통신업',
       '기타제조업', '전기가스업', '종이목재', '은행', '의료정밀', '농업, 임업 및 어업'],
      dtype=object)

In [18]:
df

       종목코드      종목명   시장구분    업종명      종가    대비   등락률           시가총액
0    095570   AJ네트웍스  KOSPI   서비스업    4450    20  0.45   208359212750
1    006840    AK홀딩스  KOSPI   기타금융   19970   -30 -0.15   264553793170
2    027410      BGF  KOSPI   기타금융    4200    40  0.96   402010522200
3    282330   BGF리테일  KOSPI    유통업  190200  6400  3.48  3287398921200
4    138930  BNK금융지주  KOSPI   기타금융    6780     0  0.00  2209840967880
..      ...      ...    ...    ...     ...   ...   ...            ...
943  005010      휴스틸  KOSPI   철강금속    6390   -20 -0.31   359041799250
944  000540     흥국화재  KOSPI     보험    3310    20  0.61   212643154950
945  000547  흥국화재2우B  KOSPI     보험   17290   120  0.70     2655744000
946  000545    흥국화재우  KOSPI     보험    5540    10  0.18     4254720000
947  003280     흥아해운  KOSPI  운수창고업    1377    -8 -0.58   331065085923

[948 rows x 8 columns]

In [8]:
list_1 = []
for i in df.index :
    if df.loc[i, '업종명'] == '농업, 임업 및 어업' :
        list_1.append(df.loc[i, '종목명'])

list_1

['동원수산', '사조산업', '신라교역']

In [12]:
list_1 = []
for i in df.index :
    if df.loc[i, '업종명'] == '의료정밀' :
        list_1.append(df.loc[i, '종목명'])

list_1

['덴티움', '디아이', '미래산업', '에스디바이오센서', '우진', '케이씨', '케이씨텍', '한컴라이프케어']

In [14]:
list_1 = []
for i in df.index :
    if df.loc[i, '업종명'] == '의약품' :
        list_1.append(df.loc[i, '종목명'])

list_1

['JW생명과학',
 'JW중외제약',
 'JW중외제약2우B',
 'JW중외제약우',
 'SK바이오사이언스',
 '경보제약',
 '광동제약',
 '국제약품',
 '녹십자',
 '대웅',
 '대웅제약',
 '대원제약',
 '동성제약',
 '동아에스티',
 '동화약품',
 '명문제약',
 '바이오노트',
 '보령',
 '부광약품',
 '삼성바이오로직스',
 '삼성제약',
 '삼일제약',
 '삼진제약',
 '셀트리온',
 '신풍제약',
 '신풍제약우',
 '에이프로젠바이오로직스',
 '영진약품',
 '오리엔트바이오',
 '유나이티드제약',
 '유유제약',
 '유유제약1우',
 '유유제약2우B',
 '유한양행',
 '유한양행우',
 '이연제약',
 '일동제약',
 '일동홀딩스',
 '일성신약',
 '일양약품',
 '일양약품우',
 '제일약품',
 '종근당',
 '종근당바이오',
 '종근당홀딩스',
 '진원생명과학',
 '파미셀',
 '팜젠사이언스',
 '하나제약',
 '한독',
 '한미약품',
 '한올바이오파마',
 '현대약품',
 '환인제약']

In [36]:
list_1 = []
for i in df.index :
    if df.loc[i, '업종명'] == '전기전자' :
        list_1.append(df.loc[i, '종목명'])

list_1

['DB하이텍',
 'DB하이텍1우',
 'DN오토모티브',
 'HD현대에너지솔루션',
 'HD현대일렉트릭',
 'KEC',
 'KH 필룩스',
 'LG디스플레이',
 'LG에너지솔루션',
 'LG이노텍',
 'LG전자',
 'LG전자우',
 'LS ELECTRIC',
 'LX세미콘',
 'SK아이이테크놀로지',
 'SK하이닉스',
 '가온전선',
 '경동나비엔',
 '경인전자',
 '광명전기',
 '광전자',
 '금호전기',
 '대덕전자',
 '대덕전자1우',
 '대동전자',
 '대원전선',
 '대원전선우',
 '대유플러스',
 '대한전선',
 '두산퓨얼셀',
 '두산퓨얼셀1우',
 '두산퓨얼셀2우B',
 '드림텍',
 '롯데에너지머티리얼즈',
 '삼성SDI',
 '삼성SDI우',
 '삼성전기',
 '삼성전기우',
 '삼성전자',
 '삼성전자우',
 '삼영전자',
 '삼화전기',
 '삼화전자',
 '삼화콘덴서',
 '선도전기',
 '성문전자',
 '성문전자우',
 '세방전지',
 '솔루스첨단소재',
 '솔루스첨단소재1우',
 '솔루스첨단소재2우B',
 '솔루엠',
 '신도리코',
 '신성이엔지',
 '써니전자',
 '아남전자',
 '에이엔피',
 '엠씨넥스',
 '와이투솔루션',
 '이수페타시스',
 '일진디스플',
 '일진전기',
 '자화전자',
 '주연테크',
 '컨버즈',
 '코리아써우',
 '코리아써키트',
 '코리아써키트2우B',
 '티에이치엔',
 '포스코퓨처엠',
 '하이트론',
 '한국단자',
 '한솔테크닉스',
 '한화시스템',
 '해성디에스',
 '효성중공업',
 '휴니드']

In [39]:
list_1 = []
for i in df.index :
    if df.loc[i, '업종명'] == '은행' :
        list_1.append(df.loc[i, '종목명'])

list_1

['기업은행', '제주은행', '카카오뱅크']

In [ ]:
Sum_list['2012_E']=Sum_list['2012_E'].map({
    'A+': 5,
    'A' : 4,
    'B+': 3,
    'B' : 2,
    'B이하' : 1.5,
    'C':1
})

In [6]:
df = pd.read_csv('./data/origindata/original_1314.csv')

In [7]:
df

,업종명,종목명,2013_E,2013_S,2013_G,2014_E,2014_S,2014_G,Diff_E,Diff_S,Diff_G,2013_종가,2014_종가,등락률,연도
0,1차 산업,동원수산,1.0,1.5,1.5,1.0,1.5,1.5,0.0,0.0,0.0,14900,7180,-0.518121,"13,14년"
1,1차 산업,사조산업,1.0,1.5,1.5,1.0,1.5,1.5,0.0,0.0,0.0,29550,37550,0.270728,"13,14년"
2,1차 산업,신라교역,2.0,1.5,1.5,2.0,1.5,1.5,0.0,0.0,0.0,29250,19900,-0.319658,"13,14년"
3,건설업,GS건설,4.0,4.0,4.0,3.0,4.0,4.0,-1.0,0.0,0.0,35800,28100,-0.215084,"13,14년"
4,건설업,대우건설,3.0,4.0,4.0,NaN,4.0,4.0,NaN,0.0,0.0,8590,6550,-0.237485,"13,14년"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,제조업,화천기계,2.0,1.5,1.5,2.0,1.5,1.5,0.0,0.0,0.0,29050,32750,0.127367,"13,14년"
453,제조업,화천기공,2.0,1.5,1.5,2.0,1.5,1.5,0.0,0.0,0.0,51700,68800,0.330754,"13,14년"
454,제조업,황금에스티,2.0,1.5,1.5,2.0,1.5,1.5,0.0,0.0,0.0,3925,5120,0.304459,"13,14년"
455,제조업,후성,1.0,1.5,1.5,1.0,1.5,1.5,0.0,0.0,0.0,4010,2495,-0.377805,"13,14년"
456,제조업,휴스틸,2.0,1.5,1.5,2.0,1.5,3.0,0.0,0.0,1.5,19400,16650,-0.141753,"13,14년"

In [ ]:
df

In [8]:
df1213 = pd.read_csv('./data/origindata/origin_data/Origin_1213.csv')
df1314 = pd.read_csv('./data/origindata/origin_data/Origin_1314.csv')
df1415 = pd.read_csv('./data/origindata/origin_data/Origin_1415.csv')
df1516 = pd.read_csv('./data/origindata/origin_data/Origin_1516.csv')
df1617 = pd.read_csv('./data/origindata/origin_data/Origin_1617.csv')
df1718 = pd.read_csv('./data/origindata/origin_data/Origin_1718.csv')

In [13]:
df1213['업종명'].value_counts()

업종명
화학             61
유통업            40
전기전자           35
철강금속           35
운수장비           32
기타금융           30
서비스업           29
의약품            27
음식료품           22
기계             19
섬유의복           18
건설업            16
종이목재           15
운수창고업          14
비금속광물          11
증권             11
보험              8
기타제조업           8
전기가스업           6
농업, 임업 및 어업     3
의료정밀            3
통신업             2
은행              1
Name: count, dtype: int64

In [14]:
df1314['업종명'].value_counts()

업종명
화학             63
유통업            41
전기전자           35
철강금속           35
기타금융           33
서비스업           32
운수장비           32
의약품            28
음식료품           23
기계             18
섬유의복           18
건설업            16
운수창고업          15
종이목재           15
비금속광물          11
증권             11
보험              8
기타제조업           7
전기가스업           6
농업, 임업 및 어업     3
의료정밀            3
은행              2
통신업             2
Name: count, dtype: int64

In [15]:
df1415['업종명'].value_counts()

업종명
화학             67
유통업            41
기타금융           35
철강금속           35
전기전자           35
서비스업           34
운수장비           34
의약품            31
음식료품           26
섬유의복           19
기계             18
운수창고업          17
건설업            15
종이목재           15
증권             12
비금속광물          11
보험              8
기타제조업           8
전기가스업           6
농업, 임업 및 어업     3
의료정밀            3
은행              2
통신업             2
Name: count, dtype: int64

In [16]:
df1516['업종명'].value_counts()

업종명
화학             67
유통업            43
기타금융           39
서비스업           38
철강금속           37
운수장비           35
전기전자           35
의약품            33
음식료품           26
섬유의복           20
기계             19
운수창고업          18
건설업            15
종이목재           15
증권             13
비금속광물          12
기타제조업           9
보험              8
전기가스업           6
통신업             3
농업, 임업 및 어업     3
의료정밀            3
은행              2
Name: count, dtype: int64

In [17]:
df1617['업종명'].value_counts()

업종명
화학             70
유통업            44
서비스업           42
기타금융           40
철강금속           38
운수장비           36
전기전자           36
의약품            34
음식료품           27
기계             22
섬유의복           20
운수창고업          19
건설업            17
종이목재           15
증권             12
비금속광물          12
기타제조업          10
보험              9
전기가스업           6
통신업             3
농업, 임업 및 어업     3
의료정밀            3
은행              2
Name: count, dtype: int64

In [18]:
df1718['업종명'].value_counts()

업종명
화학             73
기타금융           48
유통업            47
서비스업           46
운수장비           40
철강금속           39
의약품            38
전기전자           37
음식료품           30
기계             24
운수창고업          20
섬유의복           20
건설업            17
종이목재           16
비금속광물          14
증권             12
기타제조업          12
보험              9
전기가스업           6
통신업             3
농업, 임업 및 어업     3
의료정밀            3
은행              2
Name: count, dtype: int64

In [20]:
df1617['']

0

In [21]:
# 1213 CS홀딩스
df = pd.read_csv('./data/origindata/original_1213.csv')

In [28]:
# df['종목명'] == 'CS홀딩스'

df[df.loc[:,'종목명']=='CS홀딩스']

,업종명,종목명,2012_E,2012_S,2012_G,2013_E,2013_S,2013_G,Diff_E,Diff_S,Diff_G,2012_종가,2013_종가,등락률,연도
21,금융 및 보험업,CS홀딩스,1.0,1.5,NaN,1.0,1.5,1.5,0.0,0.0,NaN,35550,37300,0.049226,"12,13년"

In [3]:
df = pd.read_csv("./data/결측치를잡아보자.csv")

In [5]:
len(df)

329

In [4]:
df.isna().sum()

Unnamed: 0                             0
ESG 통합등급                               0
2011_E                                 0
2011_S                                 0
2011_G                                 0
평가연도                                   0
업종명                                    0
거래소코드                                  0
회계년도                                   0
자산(*)(IFRS연결)(천원)                     66
[공통]   배당금(*)(요약)(IFRS)                0
부채비율(IFRS연결)                          66
타인자본구성비율(IFRS연결)                      66
자기자본구성비율(IFRS연결)                      66
매출액증가율(IFRS연결)                        66
영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원)    66
경상연구개발비(IFRS연결)(천원)                   66
광고 및 판매촉진비(IFRS연결)(천원)                66
* (정상)영업손익(보고서기재)(IFRS연결)(천원)         67
* (정상)영업손익(계산수치)(IFRS연결)(천원)          66
[공통]PBR(최고)(IFRS)                      0
[공통]PBR(최저)(IFRS)                      0
dtype: int64

In [7]:
df2021 = pd.read_csv("./data/new/개별기준data/2011data(개별).csv", encoding='euc-kr')

In [8]:
df2021.isna().sum()

회사명                                  0
거래소코드                                0
회계년도                                 0
자산(*)(IFRS)(천원)                     33
부채비율(IFRS)                          42
타인자본구성비율(IFRS)                      42
자기자본구성비율(IFRS)                      42
매출액증가율(IFRS)                        42
영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원)    33
경상연구개발비(IFRS)(천원)                   33
광고 및 판매촉진비(IFRS)(천원)                33
* (정상)영업손익(보고서기재)(IFRS)(천원)         46
* (정상)영업손익(계산수치)(IFRS)(천원)          33
dtype: int64

In [11]:
df = pd.read_csv('./data/컬럼병합만남았다22.csv', encoding='euc-kr', index_col=0)

In [15]:
df

,거래소코드,회계년도,자산(*)(IFRS연결)(천원),[공통]배당금(*)(요약)(IFRS),부채비율(IFRS연결),자기자본구성비율(IFRS연결),매출액증가율(IFRS연결),ESG 통합등급,2011_E,2011_S,2011_G,평가연도,업종명,현금흐름,PBR
CS홀딩스,590,2011/12,1.887535e+11,0.000000e+00,15.95,86.25,30.53,C,B,C,C,2011,서비스업,2.825215,0.390
KISCO홀딩스,1940,2011/12,7.797319e+11,2.753000e+09,14.21,87.56,5.37,C,B+,C,C,2011,서비스업,2.934351,0.325
LG이노텍,11070,2011/12,4.409967e+12,0.000000e+00,232.87,30.04,10.95,A,B+,A,A,2011,전기전자,0.067556,1.760
MH에탄올,23150,2011/12,1.342069e+11,0.000000e+00,214.54,31.79,-18.64,C,B,C,B이하,2011,음식료품,0.004139,0.360
OCI,10060,2011/12,7.205013e+12,5.246900e+10,93.68,51.63,28.71,A,A,A,A,2011,화학,0.403283,3.025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
황금에스티,32560,2011/12,2.577486e+11,1.800000e+09,62.19,61.65,15.22,B이하,B,B이하,C,2011,철강금속,0.009427,0.535
효성,4800,2011/12,1.362319e+13,3.326900e+10,360.19,21.73,11.78,B이하,B+,B이하,B+,2011,화학,-0.058948,0.995
후성,93370,2011/12,3.080400e+11,0.000000e+00,140.70,41.55,26.01,B이하,C,B이하,B이하,2011,화학,0.093236,4.810
휴스틸,5010,2011/12,5.369143e+11,6.919000e+09,40.52,71.16,11.36,C,B,C,B이하,2011,철강금속,0.093672,0.385
흥아해운,3280,2011/12,5.309435e+11,4.870000e+08,368.79,21.33,12.78,B이하,B,B이하,C,2011,운수창고업,-0.008713,0.705

In [5]:
pd.read_csv('./data/new/연결기준data/2011data(연결).csv', encoding='euc-kr')

,회사명,거래소코드,회계년도,자산(*)(IFRS연결)(천원),[공통] 배당금(*)(요약)(IFRS),부채비율(IFRS연결),자기자본구성비율(IFRS연결),매출액증가율(IFRS연결),영업활동으로 인한 현금흐름(간접법)(*)(IFRS연결)(천원),[공통]PBR(최고)(IFRS),[공통]PBR(최저)(IFRS),[공통]매출액(요약)
0,(주)BNK금융지주,138930,2011/12,3.935867e+10,67683.0,NaN,NaN,NaN,1.994169e+08,NaN,NaN,135050
1,(주)DB하이텍,990,2011/12,1.199044e+09,0.0,289.22,25.69,-10.94,6.074918e+07,3.66,1.21,534317
2,(주)HJ중공업,97230,2011/12,7.036680e+09,0.0,276.93,26.53,-8.72,-4.017880e+08,1.13,0.38,2316017
3,(주)KB금융지주,105560,2011/12,2.776008e+11,278173.0,1101.75,8.32,6.40,-4.007190e+09,1.38,0.76,26999
4,(주)MH에탄올,23150,2011/12,1.342069e+08,0.0,214.54,31.79,-18.64,1.788200e+05,0.50,0.22,43207
...,...,...,...,...,...,...,...,...,...,...,...,...
631,화천기공(주),850,2011/12,3.126965e+08,2750.0,49.46,66.91,52.12,8.795175e+06,0.86,0.40,241320
632,환인제약(주),16580,2011/12,NaN,3817.0,NaN,NaN,NaN,NaN,1.26,0.73,110052
633,효성아이티엑스(주),94280,2011/12,6.172577e+07,0.0,186.29,34.93,0.00,8.106651e+06,3.71,1.72,197872
634,흥국화재해상보험(주),540,2011/03,3.464465e+09,0.0,3788.51,2.57,0.00,6.377930e+08,8.39,5.92,2797552
635,흥아해운(주),3280,2011/12,5.309435e+08,487.0,368.79,21.33,12.78,-5.779353e+06,1.00,0.41,663337