In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('../../data/ESGdata/for2021.xlsx')

In [9]:
df

             기업       기업코 ESG등급  환경  사회 지배구조  평가년도
0        AJ네트웍스   95570.0     B   D   B    B  2021
1         AK홀딩스    6840.0    B+   B  B+   B+  2021
2           BGF   27410.0     A   A  A+    A  2021
3        BGF리테일  282330.0     A   A  A+    A  2021
4       BNK금융지주  138930.0    A+   A  A+   A+  2021
...         ...       ...   ...  ..  ..  ...   ...
1579  휴니드테크놀러지스       NaN     C   C   B    B  2020
1580        휴비스       NaN    B+  B+  B+   B+  2020
1581        휴스틸       NaN     C   B   B    C  2020
1582       흥국화재       NaN     B   D   A    B  2020
1583       흥아해운       NaN     D   D   C    D  2020

[1584 rows x 7 columns]

In [13]:
df_2020 = df[df.loc[:,'평가년도']==2020]

In [14]:
df_2020

             기업       기업코 ESG등급  환경  사회 지배구조  평가년도
792      AJ네트웍스   95570.0     B   D   B    B  2020
793       AK홀딩스    6840.0    B+   C  B+   B+  2020
794         BGF   27410.0    B+   B   A   B+  2020
795      BGF리테일  282330.0     A  B+  B+    A  2020
796     BNK금융지주  138930.0    A+  B+  A+   A+  2020
...         ...       ...   ...  ..  ..  ...   ...
1579  휴니드테크놀러지스       NaN     C   C   B    B  2020
1580        휴비스       NaN    B+  B+  B+   B+  2020
1581        휴스틸       NaN     C   B   B    C  2020
1582       흥국화재       NaN     B   D   A    B  2020
1583       흥아해운       NaN     D   D   C    D  2020

[792 rows x 7 columns]

In [15]:
df_2020.drop('기업코', axis=1, inplace=True)
df_2020

C:\Users\shoni\AppData\Local\Temp\ipykernel_17300\60714394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.drop('기업코', axis=1, inplace=True)

             기업 ESG등급  환경  사회 지배구조  평가년도
792      AJ네트웍스     B   D   B    B  2020
793       AK홀딩스    B+   C  B+   B+  2020
794         BGF    B+   B   A   B+  2020
795      BGF리테일     A  B+  B+    A  2020
796     BNK금융지주    A+  B+  A+   A+  2020
...         ...   ...  ..  ..  ...   ...
1579  휴니드테크놀러지스     C   C   B    B  2020
1580        휴비스    B+  B+  B+   B+  2020
1581        휴스틸     C   B   B    C  2020
1582       흥국화재     B   D   A    B  2020
1583       흥아해운     D   D   C    D  2020

[792 rows x 6 columns]

In [16]:
# df_2020.to_csv('2020_ESG_data')